# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.venv/
.ENV/
ENV.bak/
venv.bak/

# PyInstaller
#  Usually contains temp files and build artifacts
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Logs and debugging
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# MyPy, Pyright
.mypy_cache/
.pyright_cache/

# Local files
*.local
*.db
*.sqlite3
*.pkl

# Flask / Django specific
instance/
.webassets-cache
*.db
*.sqlite3
